.card{
    background-color: dimgray;
    color: white;
    margin: 0.5%;
    width: 19%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
    color: white;
}

.bomb{
    background-color: black;
    color: red;
}

.neutral{
    background-color: lightgray;
    color: black;
}