.card{
    background-color: grey;
    margin: 0.5%;
    width: 19%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}